aliyun-python-sdk-core==2.13.36
aliyun-python-sdk-kms==2.16.0
altgraph==0.17.3
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.0.1
colorama==0.4.6
crcmod==1.7
cryptography==39.0.1
idna==3.4
jmespath==0.10.0
loguru==0.6.0
oss2==2.16.0
pefile==2023.2.7
pycparser==2.21
pycryptodome==3.17
pyinstaller==5.8.0
pyinstaller-hooks-contrib==2023.0
PyQt5==5.15.9
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.1
pywin32-ctypes==0.2.0
requests==2.28.2
six==1.16.0
urllib3==1.26.14
win32-setctime==1.1.0
